*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

/* post listing */
.mycontainer {
  position: relative;
  right: 2.7%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12%;
  width: 100%;
}

.postcontent {
  margin: 3%;
  width: 25%;
  height: 50vh;
  background-color: rgba(212, 232, 243, var(--tw-bg-opacity));
  border-radius: 15px;
}

.card {
  background-color: rgba(212, 232, 243, var(--tw-bg-opacity));
}

/* post form */
.addIdeas__box {
  position: relative;
  width: 77vw;
  right: 2.5vw;
}

.ReactModal__Content {
  position: absolute;
  width: 93%;
  margin-left: 1%;
  z-index: 1;
}

.commentIn__modal {
  position: relative;
  background: #000;
  height: 180px;
  padding: 1%;
}

.comment__button {
  position: absolute;
  bottom: 6%;
  right: 1%;
}

.posting__comment--form {
  border: 1px solid grey;
}

.post__content--modal {
  padding: 1%;
}
.post__title--modal {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 116.5%;
}

.post__author--modal {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.post__body--modal {
  margin-top: 5%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #343a40;
}
