.mycontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 14%;
    width: 100%;

}

.postcontent {
    padding: 1% 2% 1% 3.4%;
    
}

.card {
    width: 15rem;
    height: 15rem;
}